.top-header {
  background-color: var(--primary-darker);
  height: auto;
}

.header-content {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 900px;
  margin: 84px auto 20px auto;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: var(--surface-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
