<h2 mat-dialog-title>
  {{ editingTask ? 'Editar Tarefa' : 'Nova Tarefa' }}
</h2>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput
           [(ngModel)]="formData.title"
           placeholder="Título da Tarefa"
           required
           aria-label="Título da Tarefa"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput
           [(ngModel)]="formData.description"
           placeholder="Descrição da Tarefa"
           required
           aria-label="Descrição da Tarefa"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="formData.status" aria-label="Status da Tarefa">
      <mat-option value="pendente">Pendente</mat-option>
      <mat-option value="em-andamento">Em Andamento</mat-option>
      <mat-option value="concluida">Concluída</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions class="form-actions">
  @if (!editingTask) {
    <button mat-raised-button color="primary" (click)="submitForm()">Adicionar Tarefa</button>
  } @else {
    <button mat-raised-button color="primary" (click)="submitForm()">Salvar Alterações</button>
    <button mat-flat-button class="cancel-btn" (click)="cancelEdit()">Cancelar</button>
  }
</div>
