<div class="task-form">
  <h2>{{ editingTask ? 'Editar Tarefa' : 'Nova Tarefa' }}</h2>

  <input
    [(ngModel)]="formData.title"
    placeholder="Título"
    required
    aria-label="Título da Tarefa"
  />
  <input
    [(ngModel)]="formData.description"
    placeholder="Descrição"
    required
    aria-label="Descrição da Tarefa"
  />

  <select [(ngModel)]="formData.status" aria-label="Status da Tarefa">
    <option value="pendente">Pendente</option>
    <option value="em-andamento">Em Andamento</option>
    <option value="concluida">Concluída</option>
  </select>

  <div class="form-actions">
    @if (!editingTask) {
      <button (click)="submitForm()">Adicionar Tarefa</button>
    } @else {
      <button (click)="submitForm()">Salvar Alterações</button>
      <button class="cancel-btn" (click)="cancelEdit()">Cancelar</button>
    }
  </div>
</div>
