:root {
  --background-color: #18181b;
  --surface-color: rgb(38, 38, 44);
  --text-color: rgba(108, 160, 255, 0.58);
  --secondary-text-color: #aaaaaa;
  --primary-color: #03dac6;
  --primary-darker: #1f3041;
  --success-color: #66bb6a;
  --warning-color: #ffca28;
  --error-color: #ef5350;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.mat-raised-button.mat-primary, .mat-flat-button.mat-primary {
  background-color: var(--primary-color);
  color: #121212;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,.69);
  text-transform: uppercase;
}

.mat-app-background {
  background-color: var(--background-color);
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--primary-color);
}
