<mat-card [ngClass]="['status-' + task.status]">
  <mat-card-header class="custom-card-header">
    <mat-icon mat-card-avatar>assignment</mat-icon>

    <div class="card-header-info">
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle>Criado em: {{ task.createdAt | date:'shortDate' }}</mat-card-subtitle>
    </div>

    <span class="task-status-chip status-{{ task.status }}">
      {{ task.status | titlecase }}
    </span>
  </mat-card-header>

  <mat-card-content class="task-content-wrapper">
    <p class="task-description">{{ task.description }}</p>
  </mat-card-content>

  <mat-card-actions class="task-actions">
  </mat-card-actions>
</mat-card>
